<?xml version="1.0" encoding="UTF-8"?>
<gallery>
  <photo>
    <source>photos/plants/a.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo>
  <photo>
    <source>photos/plants/b.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo>
  <photo>
    <source>photos/plants/c.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo>  
  <photo>
    <source>photos/plants/d.jpg</source>
    <orientation>landscape</orientation>
    <category>plants</category>
  </photo>  
  <photo>
    <source>photos/plants/e.jpg</source>
    <orientation>landscape</orientation>
    <category>plants</category>
  </photo>  
  <photo>
    <source>photos/plants/f.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo>
  <photo>
    <source>photos/plants/g.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo> 
  <photo>
    <source>photos/plants/h.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo> 
  <photo>
    <source>photos/plants/i.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo> 
  <photo>
    <source>photos/plants/j.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo> 
  <photo>
    <source>photos/plants/k.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo> 
  <photo>
    <source>photos/plants/l.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo> 
  <photo>
    <source>photos/plants/m.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo>     
  <photo>
    <source>photos/plants/n.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo>   
  <photo>
    <source>photos/plants/o.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo> 
  <photo>
    <source>photos/plants/p.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo>   
  <photo>
    <source>photos/plants/q.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo>     
  <photo>
    <source>photos/plants/r.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo>  
  <photo>
    <source>photos/plants/s.jpg</source>
    <orientation>portrait</orientation>
    <category>plants</category>
  </photo>        
  <photo>
    <source>photos/animals/a.jpg</source>
    <orientation>landscape</orientation>
    <category>animals</category>
  </photo>   
  <photo>
    <source>photos/animals/b.jpg</source>
    <orientation>landscape</orientation>
    <category>animals</category>
  </photo>   
  <photo>
    <source>photos/animals/c.jpg</source>
    <orientation>landscape</orientation>
    <category>animals</category>
  </photo>     
  <!-- Add more photo elements as needed -->
</gallery>