.gallery img {
    width: 100vh; /* Set image width to viewport width */
    height: auto;
    margin: 5px;
    display: block; /* Display images in a row */
    object-fit: contain;
    min-width: 100vw;
}

.gallery{
    max-width: 100%;
}

#loadMoreBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    width: 50%; /* Set width to 20% of viewport width */
    min-width: 50%;
    min-height: 10%;
    font-size: 3em;
}